<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" media="all" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="http://fonts.googleapis.com/css?family=Varela+Round"/>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}"/>
    <script type="application/javascript" th:src="@{/js/main.js}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a th:href="@{/}" href="home.html"> Home </a></li>
                <li><a th:href="@{/logout}" href="logout"> Logout </a></li>
            </ul>
        </div>
    </div>
    <h1 th:text="${title}">Title</h1>
    <div id="created" th:text="${#dates.format(timestamp)}">July 11,
        2012 2:17:16 PM CDT</div>
    <div>
        There was an unexpected error (type=<span th:text="${error}">Bad</span>, status=<span th:text="${status}">500</span>).
    </div>
    <div th:text="${message}">Fake content</div>
    <div>
        Please contact the operator with the above information.
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</body>
</html>