<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>RLY8 Control Panel Login</title>
    <link rel="stylesheet" type="text/css" media="all" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="http://fonts.googleapis.com/css?family=Varela+Round"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
<div class="text-center" style="padding:50px 0">
    <div class="logo">login</div>
    <div class="login-form-1">
        <form id="login-form" class="text-left" th:action="@{/login}" method="post">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="lg_username" class="lg_label">Username:</label>
                        <input type="text" class="form-control" id="lg_username" name="username" placeholder="username"/>
                    </div>
                    <div class="form-group">
                        <label for="lg_password" class="lg_label">Password:</label>
                        <input type="password" class="form-control" id="lg_password" name="password" placeholder="password"/>
                    </div>
                    <div class="form-group login-group-checkbox">
                        <input type="checkbox" id="lg_remember" name="lg_remember"/>
                        <label for="lg_remember">remember</label>
                    </div>
                </div>
                <button type="submit" class="login-button" value="Sign In"><i class="fa fa-chevron-right"></i></button>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>

</body>
</html>
